body {
    background-color: #fffbf7;
}

h1 {
    color: #D34F87;
    font-family: "PT", serif;
    font-size: 60px;
    margin-bottom: 24px;
    font-weight: 900;
}

h2 {
    color: #D34F87;
    font-family: "PT", serif;
    font-size: 30px;
    margin-bottom: 24px;
    font-weight: 450;
}

button {
    background-color: #D34F87;
    color: #ffffff;
}